services:
  postgres:
    image: postgres:16
    container_name: postgres
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./dbInit:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:7
    container_name: pgadmin
    env_file: .env
    ports:
      - "8080:80"
    depends_on:
      postgres:
        condition: service_healthy

  app:
    build: .
    container_name: app
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    ports:
      - "5000:5000"

volumes:
  pgdata: